<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <%- include('../partials/files.ejs')%>
</head>
<body>
    You have reached the index
    <h3><a href="/card/new">Create New Card</a></h3>
    <% for (card of cards){%>
        <article>
            <a href="/card/<%= card._id%>"> 
                <h2>
                    <%= card.name %>
                </h2>
                <img src="<%= card.img_link%>"/>
            </a>
        </article>
    <%}%>
</body>
</html>