<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <form action="/card" method="post">
        <fieldset>
            <legend>Create a new fruit</legend>
            <label>Name: <input type="text" name="name" placeholder="enter card name"/></label>
            <label>Type Line: <input type="text" name="type_line" placeholder="enter card type line"/></label>
            <label>Expansion Symbol: <input type="text" name="expansion_symbol" placeholder="enter card's expansion symbol"/></label>
            <label>Artist Info: <input type="text" name="artist_info" placeholder="enter the artist info"/></label>
            <label>Collector's Number: <input type="text" name="collectors_number" placeholder="enter card's collectors number"/></label>
            <label>Power/Toughness: <input type="text" name="power_toughness" placeholder="enter card's power/toughness, leave blank if none"/></label>
            <label>Abilities: <input type="text" name="abilities" placeholder="enter card's abilities text"/></label>
            <label>Flavor Text: <input type="text" name="flavor_text" placeholder="enter card's abilities text"/></label>
            <label>Colorless Cost: <input type="text" name="colorless_info" placeholder="enter card's colorless cost'"/></label>
            <label>Color Identity: <input type="text" name="colors_identity" placeholder="enter card's color identity'"/></label>
        </fieldset>
        <input type="submit" value="create new card">
    </form>
    <h3><a href="/card">GO BACK TO INDEX</a></h3>
</body>
</html> 