<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <%- include('../partials/files.ejs')%>
</head>
<body>
    <%- include('../partials/login_header.ejs')%>
    <div class="header-container">
        <h2><a href="/user/login">Login</a></h2>
        <h2><a href="/user/signup">Signup</a></h2>
    </div>
</body>
</html>